@charset "UTF-8";
#cabecalho{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    border: solid 1px black;
    grid-template-rows: 1fr 1fr;
    min-height: 100px;
}
#navegacao{
    grid-row: 2;
    grid-column: 1 / span 5;
    border: solid 1px black;
    
}
header > h1{
    text-align: center;
    grid-column: 3;
}
button{
margin: auto;
}
#div1-nav{
    grid-column: 1;
    grid-row: 2;
}