@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbit&family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --fontePrincipal: 'REM', sans-serif;
}

div,
section,
aside,
article,
footer {
    min-height: 100px;
    border: 1px solid black;
}

header {
    display: flex;
    /*min-height: 50px;*/
    align-items: center;
    flex-wrap: wrap;
}

nav {
    min-height: 25px;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;

}

.itemNav {
    flex-grow: 1;
    text-align: center;
    height: 25px;
}

.clicavel {
    cursor: pointer;
}

.clicavel:hover {
    color: red;
}

.clicavel:active {
    color: blue;
}

.botaoNav {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
    font-family: var(--fontePrincipal);
    cursor: pointer;
}

#logo {
    min-width: 50px;
    height: 50px;
    color: blue;
    border: 0;
}

#nome {
    width: calc(100% - 100px);
    /*height: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontePrincipal);
    font-size: 30px;
}

#principal {
    display: flex;
    flex-wrap: wrap;
    min-width: 1000px;
    order: 2;
}

#noticiaPrincipal {
    min-height: 200px;
    width: calc(50% - 124px);
    display: flex;
    margin-left: 124px;
    border: 0;
   
}
#noticiaPrincipal:hover{
     transform: scale(1.05);
}

#imagemPrincipal {
    max-height: 200px;
    width: 300px;
   border: 0;
   
}

#imagemPrincipal>img {
    max-height: 200px;
    width: 300px;
   border-radius: 10px;
}

#TextoPrincipal {
    max-height: 200px;
    max-width: 350px;
    border-radius: 10px;
    border: 0;
}
#TextoPrincipal  > strong > p{
    margin: 1px;
    font-family: var(--fontePrincipal);
    font-size: 25px;
    border: 0;
}

#noticiaPrincipal2 {
    min-height: 200px;
    width:  calc(50% - 124px);
    display: flex;
    margin-right: 124px;
    border: 0;
}
#noticiaPrincipal2:hover{
    transform: scale(1.05);
}

#imagemPrincipal2 {
    max-height: 200px;
    width: 300px;
   border: 0;
   
}
#imagemPrincipal2 > img{
    max-height: 200px;
    width: 300px;
   border-radius: 10px;
}

#TextoPrincipal2 {
    min-height: 200px;
    max-width: 370px;
    border: 0;
}
#TextoPrincipal2 > strong > p{
    margin: 1px;
    font-family: var(--fontePrincipal);
    font-size: 25px;
}

#secundarias {
    min-height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 0;
}

#secundaria1 {
    display: flex;
    min-height: 120px;
    min-width: 33.333%;
    border: 0;
}
#secundaria1:hover{
    transform: scale(1.05);
}

#imagemsec1 {
    min-height: 120px;
    width: 200px;
    border: 0;
}

#textosec1 {
    min-height: 120px;
    width: 200px;
    border: 0;
}
#textosec1 > p{
    font-family: var(--fontePrincipal);
    margin: 1px;
    font-size: 25px;
    font-weight: bold;
}
#imagemsec1 > img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

#secundaria2 {
    display: flex;
    min-height: 120px;
    min-width: 33.333%;
    border: 0;
}
#secundaria2:hover{
    transform: scale(1.05);
}

#imagemsec2 {
    min-height: 120px;
    width: 200px;
    border: 0;
}
#imagemsec2 > img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

#textosec2 {
    min-height: 120px;
    width: 200px;
    border: 0;
}
#textosec2 > p{
    font-family: var(--fontePrincipal);
    margin: 1px;
    font-size: 25px;
    font-weight: bold;
}

#corpo {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#latEsquerda {
    order: 1;
    flex-grow: 1;
    min-width: 10px;
}

#latDireita {
    order: 3;
    flex-grow: 1;
    min-width: 10px;
}

#secundaria3 {
    display: flex;
    min-height: 120px;
    min-width: 33.333;
    border: 0;
}
#secundaria3:hover{
    transform: scale(1.05);
}

#imagemsec3 {
    min-height: 120px;
    width: 200px;
    border: 0;
}
#imagemsec3 > img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
}

#textosec3 {
    min-height: 120px;
    width: 200px;
    border: 0;
}
#textosec3 > p{
    font-family: var(--fontePrincipal);
    margin: 1px;
    font-size: 25px;
    font-weight: bold;
}

footer {
    display: flex;
    min-height: 100px;
    order: 4;
    width: 100%;
}

#imgLogo {
    width: 100px;
    height: 100px;
    border: 0;
}

/*#noticiaPrincipal:hover {
    min-height: 200px;
    width: 50%;
    display: flex;
    animation: gradient_3012 2s ease infinite;
}

@keyframes gradient_3012 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }*/